main {
  min-height: 80vh;
}

/* main .container{
margin: 0;
}  */

.bold {
  font-weight: bolder;
  font-size: large;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.imggg {
  border-radius: 5px;
}

.badge {
  font-size: 0.9em;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-control-prev span {
  padding: 10px;
  margin: 5px;
  animation: 0.25s ease;
}

@media (max-width: 1000px) {
  .carousel-control-prev span {
    background-color: rgba(0, 0, 0, 0.562);
    padding: 12px;
  }

  .carousel-control-next span {
    background-color: rgba(0, 0, 0, 0.562);
    padding: 12px;
  }
}

.carousel-caption h2 {
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.795);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 15px;
}

.carousel-indicators li {
  visibility: hidden;
  display: none;
}

.carousel-indicators {
  visibility: hidden;
  display: none;
}

.carousel a {
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .carousel-caption h2 {
    padding: 10px;
    font-size: 15px;
  }
  .orderid {
    font-size: medium;
  }

  .srch {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 6%;
  }

  .titprd {
    text-align: center;
    margin-top: 10px;
    margin-bottom: -5px;
  }

  .srchfld {
    width: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 600px) {
  .carousel-caption {
    font-size: 2px;
  }
}

.notice {
  background-color: red;
  padding: 15px;
  color: white;
  font-weight: bold;
}

.couponvalue {
  border: 2px solid black;
  width: 100%;
  padding: 5px;
}

.formm input {
  width: 100%;
  padding: 15px;
  border: transparent;
  outline: transparent;
  border: 1px solid black;
  margin-bottom: 10px;
}

.formm button {
  padding: 15px;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 1.5em;
  transition: 0.25s ease;
}

.formm button:hover {
  background-color: #333;
}

.formm button:active {
  background-color: rgb(90, 87, 87);
}

.breadcrumb {
  width: 100%;
}

.cardsss:hover {
  transition: 0.25s ease;
  -webkit-box-shadow: 0px 0px 28px -10px rgba(25, 23, 26, 0.192);
  box-shadow: 0px 0px 28px -10px rgba(12, 9, 12, 0.185);
}

.cart-icon {
  width: 60px;
  height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: white;
}
.cart-icon .shopping-icon {
  width: 30px;
  height: 30px;
}
.cart-icon .item-count {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  bottom: -2px;
}

.darkmode-toggle {
  z-index: 999999999999;
}

@media (max-width: 1000px) {
  .cart-icon {
    width: 50px;
    height: 50px;
  }

  .cart-icon .shopping-icon {
    width: 70px;
    height: 70px;
  }

  .cart-icon .item-count {
    bottom: 10px;
  }
}

#demo-2 input[type="search"] {
  width: 50px;
  padding-left: 20px;
  color: transparent;
  cursor: pointer;
  border-radius: 0.2em;
  transition: all 0.5s;
  background: #fff
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    5px center;
}

#demo-2 input[type="search"]:hover {
  background-color: #fff;
}
#demo-2 input[type="search"]:focus {
  width: 50%;
  padding-left: 32px;
  border-radius: 0.3em;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#demo-2 input:-moz-placeholder {
  color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}

.srchfld input[type="search"]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66cc75;

  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

@media (max-width: 1000px) {
  #demo-2 input[type="search"] {
    width: 100%;
    padding-left: 20px;
    color: transparent;
    cursor: pointer;
    transition: all 0.5s;
    background: #fff
      url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
      5px center;
  }

  #demo-2 input[type="search"]:hover {
    background-color: #fff;
  }
  #demo-2 input[type="search"]:focus {
    width: 100%;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
  }
  #demo-2 input:-moz-placeholder {
    color: transparent;
  }
  #demo-2 input::-webkit-input-placeholder {
    color: transparent;
  }

  .srchfld input[type="search"]:focus {
    width: 150px;
    background-color: #fff;
    border-color: #66cc75;

    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  }
}

.wishlist-icon-heart-card {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  font-size: 20px;
  color: rgb(190, 190, 190);
}

.wishlist-icon-heart-card:hover {
  color: red;
  cursor: pointer;
}

.headertitle {
  text-align: center;
  padding: 15px;
  background-color: #000;
  color: white;
  margin: 0;
  font-size: 0.8em;
}
/* .marq{
  text-align: center;
  padding: 5px;
  background-color: #000;
  color: white;
  margin: 0;
  font-size: .8em; */
/* } */

.signningoogle {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  padding: 0.35em;
  margin: 10px 0;
  width: 100%;
  border-radius: 2em;
  transition: 0.25s ease;
}

.signningoogle:hover {
  background-color: #000;
  color: white;
}

.signningoogle:active {
  background-color: #333;
}

.signningoogle i {
  color: red;
  margin-right: 5px;
}

.boldcode {
  font-weight: bold;
}

.header__cart__icon__product {
  position: absolute;
  color: #eb1919;
  border: 2px solid;
  padding: 5px;
  border-radius: 50%;
  min-width: 35px;
  text-align: center;
  right: 20px;
  top: 20px;
  cursor: pointer;
  align-items: center;
}
.header__cart__icon__product__filled {
  position: absolute;
  color: rgb(17, 223, 68);
  border: 2px solid;
  padding: 5px;
  border-radius: 50%;
  min-width: 35px;
  text-align: center;
  right: 20px;
  top: 20px;
  cursor: pointer;
  align-items: center;
}

.cardde {
  margin: 1em;
}

@media (max-width: 1000px) {
  .c {
    margin-top: 1em;
    background-color: rgb(99, 99, 99);
    color: white;
  }

  .cc {
    margin-top: 1em;
  }

  .ccc {
    font-size: 1.5em;
  }

  .cccc {
    font-size: 1.2em;
  }
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("https://i.ibb.co/F59H3hx/Login-BG.jpg");
  background-size: cover;
  background-position: center center;
}

.division {
  float: none;
  margin: 0 auto 18px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.division .line {
  border-top: 1px solid #dfdfdf;
  position: absolute;
  top: 10px;
  width: 34%;
}

.division .line.l {
  left: 0;
}

.division .line.r {
  right: 0;
}

.division span {
  color: #424242;
  font-size: 17px;
}

@media (max-width: 1000px) {
  .maincontainer {
    border: transparent;
    outline: transparent;
  }
}

.shop-by-category .btn {
  display: flex;
  margin: 5px;
  height: 150px;
  font-size: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .shop-by-category .btn {
    width: 100%;
    font-size: 1.2em;
  }

  .desc2 {
    display: none;
  }
}

@media (min-width: 1001px) {
  .desc1 {
    display: none;
  }

  .home {
    display: none;
  }
}

.colmain {
  display: flex;
  margin: 5px;
  align-content: center;
  justify-content: space-around;
}

@media (max-width: 1000px) {
  .colmain {
    display: block;
  }

  .orderidleft {
    font-size: 1.35em;
  }

  .printt {
    width: 100%;
  }

  .orderid {
    display: block;
    float: none;
    width: 100%;
  }

  .orderid .float-left {
    float: none;
    display: block;
  }

  .orderid .float-right {
    float: none;
    display: block;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .moredeets {
    display: none;
  }
}

@media (min-width: 1001px) {
  .carouselProd .carousel-control-next {
    background-color: rgba(141, 141, 141, 0.801);
  }

  .carouselProd .carousel-control-prev {
    background-color: rgba(141, 141, 141, 0.801);
  }
}
